<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wzp.libs" >

    <application>
    <activity
        android:name=".function.zxing.DefaultScanActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>

    <activity
        android:name=".utils.PermissionUtils$PermissActivity"
        android:theme="@android:style/Theme.Translucent"/>

       <!-- android:screenOrientation="portrait"
        设置了透明，又设置朝向的话会报错-->
    </application>
</manifest>
